<div class="main-header">
 <div class="head-logo">
  <div class="city">
   CITY
  </div>
   <div class="lab">
    Lab
   </div>
 </div>
  <div class="head-menu-lists">
   <%= link_to "サービス", "#", class:"head-menu" %>
   <%= link_to "ニュース", "#", class:"head-menu"%>
   <%= link_to "CSR", "#", class:"head-menu" %>
   <%= link_to "IR情報", "#", class:"head-menu"%>
   <%= link_to "会社情報", "#", class:"head-menu" %>
   <%= link_to "採用情報", "#", class:"head-menu"%>
  </div>
   <div class="head-contactform">
    <%= link_to "お問い合わせ", "#", class:"contactform"%>
   </div>
</div>